@model IEnumerable<CSHARP_Opdracht_WebShop.Models.Artikels>

@{
    ViewBag.Title = "ShoppingCart";
}
<br />
<p><a href="/Artikels">Articles</a></p>

<h2>ShoppingCart</h2>
<table class="table">
    <tr>
        <th>
            Article
        </th>
        <th>
            Amount
        </th>
        <th>
            Actions
        </th>
    </tr>
    @if (ViewBag.Artikels != null)
    {

        for (var i = 0; i < (Enumerable.Count(ViewBag.Artikels)); i++)
        {
            <tr id="@i" class="items">
                <td>@ViewBag.Artikels[i].Name</td>
                <td>@ViewBag.Amounts[i]</td>
                <td><button onclick="deleteOrder('@i')">Delete</button></td>
            </tr>
        }
    }
</table>
    <button id="orderButton" onclick="orderArtikels('1')">Order articles</button>



@section Scripts {
    <script type="text/javascript">

        var domain = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');

        function deleteOrder(indexNumber) {
            $.ajax({
                url: domain + '/api/ArtikelsRemoveTemp',
                type: 'POST',
                data: { indexNumber: indexNumber },
                success: function (data) {
                    $("#"+data).remove();
                }
            })
        }

        function orderArtikels(userID) {
            $.ajax({
                url: domain + '/api/Orders/InsertOrderWithArticles',
                type: 'POST',
                data: { userID: userID },
                success: function (data) {
                    console.log(data);
                }
            })
        }

    </script>
}
